extends layout

block title
    = config.sitename

block document
    //-h1.entry-title Posts

    ol.entry-list
        //- set posts in anti-chronological order
        for item in pagination.items
            li
                a(href='#{permalink_url(item)}') #{item.title}
                time(datetime='#{item.pubdate.toISOString()}') #{item.pubdate.year}/#{item.pubdate.month}/#{item.pubdate.getDate()}
