doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='generator', content='#{system.name} #{system.version}')
        meta(name='theme', content='#{theme.name} #{theme.version}')
        meta(name='author', content='#{config.author}')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        block description
            if (config.description)
                meta(name='description', content='#{config.description}')
        block more_meta
        - var feed_path = config.feed_output || 'feed.xml'
        link(rel="alternate", type="application/atom+xml", title="Atom 0.3", href="/#{feed_path}")

        title
            block title

        link(rel='icon', href='/favicon.png')
        link(rel='stylesheet', href='#{static_url("minimalist.css")}')
        link(rel='stylesheet', href='#{static_url("syntax.css")}')

        if (config.ga)
            script
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '#{config.ga}']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_trackPageLoadTime']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = 'https://ssl.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

    body
        section.wrapper(role='main')
            .navigation(role='navigation')
                h1.home
                    a(href='#{content_url("index.html")}') #{config.sitename}

            .document
                block document

        .footer
            p.copyright
                span &copy; 2013 #{config.author}
                span
                    a.about-link(href='#{content_url("about/")}') About
                if (config.license)
                    span
                        a(href=config.license_url) #{config.license}
                span Powered by 
                    a(href='#{system.homepage}') #{system.name}
                    |  on 
                    a(href='#{theme.homepage}') #{theme.name}

        block body_bottom
