extends layout

block title
    = post.title

block document
    .hentry
        h1.entry-title #{post.title}

        .entry-meta
            span.author #{config.author}
            time.updated(datetime='#{post.pubdate.toISOString()}') #{post.pubdate.year}/#{post.pubdate.month}/#{post.pubdate.getDate()}

        - if (post.description)
            blockquote.entry-description #{post.description}

        article.entry-content
            != post.html

        #disqus_thread

block body_bottom
    - if (!post.meta.comment && config.disqus)
        script
            var disqus_shortname = '#{config.disqus}';
            var disqus_script = 'embed.js';
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            }());
